<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GustOfis.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6C8FFD00206BD23800C5698E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C8FFD14206BD23900C5698E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C8FFD1F206BD23900C5698E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
